/service/target
/web/service/target
/web/target
/service-contract/target
/service-contract/*.iml
/service/*.iml
/web/service/*.iml
/web/*.iml
/*.iml
/.settings
/.idea
/.project
/service-contract/*.classpath
/service-contract/*.project
/service-contract/.settings/*.prefs
/service/*.classpath
/service/*.project
/service/.settings/*.prefs
/web/service/*.classpath
/web/.classpath
/web/.project
/web/service/*.project
/web/service/.settings/*.prefs
/web/.settings/*.prefs

